name: "SwiftCiDemo CI"

on:
  push:
    branches:
      - main
    paths:
      - 'Source/**'
      - 'Tests/**'
      - '.github/workflows/**'
      - 'Package.swift'
  pull_request:
    paths:
      - 'Source/**'
      - 'Tests/**'
      - '.github/workflows/**'
      - 'Package.swift'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  macOS:
    name: Build and test on macOS
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      
      - name: Get output path
        run: |
          swift build --show-bin-path --arch arm64 --arch x86_64 > ARTIFACT_PATH
          echo "artifactPath=${ARTIFACT_PATH}" >> $GITHUB_ENV
      
      - name: Build
        run: swift -c debug --arch x86_64 --arch arm64 --build-tests
      
      - name: Test
        run: swift -c debug test
      
      - name: Upload test artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macOS build artifacts
          path: ${{ env.artifactPath }}
